# Dirs With Binaries #
bin
lib
target
xtend-gen
classes
temp
# Binary Files #
*.class
*.dll
*.lib
*.exe
*.obj

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar
*.7z
*.tar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Temporary Files #
*.bak
*.target

# Data Files #
*.dat
*.idn
